<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="C:\Users\rites\OneDrive\Desktop\E-commerce website\static\css\csytle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <nav class="navbar">
        <h1>Ritesh</h1>

        <div class="menu">
            <a class="navbar-links" href="">home</a>
            <a class="navbar-links"
                href="C:\Users\rites\OneDrive\Desktop\E-commerce website\templates\collection.html">collections</a>
            <a class="navbar-links" href="">contact us</a>

        </div>
        <div class="navbar-toggle" onclick="showmenubar()">
            <p><i class="fa-solid fa-bars"></i></p>
        </div>
    </nav>

    <div class="contactUs">
        <div class="contactForm">
            <h4>name</h4>
            <input type="text" placeholder="Name">
            <h4>Email</h4>
            <input type="email" placeholder="Email">
            <h4>Subject</h4>
            <textarea name="" id="" cols="20" rows="10" placeholder="Subject"></textarea>
            <button>submit</button>
            
        </div>
    </div>

    <div class="bottom">
        <h2>Ritesh</h2>
        <p>Standard ipsum dolor sit amet consectetur adipisicing elit Molestias </p>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <p>@Ritesh.com</p>
    </div>

    <script src="C:\Users\rites\OneDrive\Desktop\E-commerce website\static\js\java.js"></script>

</body>

</html>
